* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background-color: #F5F5F5;
    user-select: none;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 970px;
    padding: 40px;
    margin-bottom: 20px;

    .hero-align {
        display: flex;
        height: 880px;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    .header {
        display: flex;
        max-height: 52px;

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 52px;

            .logo-header {
                width: auto;
                height: 52px;

                img {
                    height: 50px;
                    width: 100%;
                }
            }

            .links-header {
                width: 725px;

                ul {
                    display: flex;
                    justify-content: space-between;

                    li {
                        list-style: none;

                        a {
                            text-decoration: none;
                            font-size: 20px;
                            font-weight: 500;
                            text-transform: uppercase;
                            color: #000;
                        }

                        #sign-up {
                            background-color: #000;
                            padding: 12px 20px;
                            border-radius: 7px;
                            font-size: 22px;
                            color: #fff;
                            box-shadow: 2px 2px 5px #717171;
                        }
                    }
                }
            }
        }
    }

    .hero-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 780px;
        background-color: #E7E6E6;
        border-radius: 59px;
        padding: 25px 10px;
        border: solid #000 1px;
        box-shadow: 2px 2px 5px #717171;

        .cta-hero {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: auto;
            gap: 30px;
            padding-left: 90px;

            h1 {
                width: 474px;
                height: 473px;
                font-size: 90px;
                line-height: 120px;
                font-weight: 800;

                .hero-text-white {
                    display: block;
                    width: 465px;
                    height: 112px;
                    background-color: #fff;
                    border: solid #000 1px;
                    padding-left: 5px;
                }

                .hero-text-yellow {
                    display: block;
                    width: 496px;
                    height: 112px;
                    background-color: #EBD96B;
                    border: solid #000 1px;
                    padding-left: 5px;
                }

                .padding {
                    padding-left: 10px;
                }
            }

            p {
                font-size: 26px;
                font-weight: 700;
                padding-bottom: 15px;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 221px;
                height: 82px;
                background-color: #000;
                border-radius: 10px;
                font-size: 28px;
                color: #fff;
                text-decoration: none;
            }
        }

        .image-hero {
            display: flex;
            position: relative;
            bottom: -25px;
            width: 871px;
            height: 100%;

            img {
                width: 800px;
                height: auto;
            }
        }
    }
}

.brands {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 186px;
    background-color: #EBD96B;

    .brands-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 71px;
        padding: 0px 50px;

        img {
            width: auto;
            height: 65%;
        }

        #lacoste {
            height: 40%;
        }
    }
}

.new-arrivals {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1100px;
    width: 100%;
    margin-bottom: 100px;

    .arrivals-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 950px;

        h2 {
            text-align: left;
            width: 100%;
            font-size: 48px;
            font-weight: 800;
            text-transform: uppercase;
        }

        .cards {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 808px;

            .card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 484px;
                height: 100%;

                .card-image {
                    width: 484px;
                    height: 704px;
                    background-color: red;
                    border-radius: 20px;
                    background-position: center;
                    background-size: cover;
                }

                .photo-1 {
                    background-image: url(assets/Rectangle\ 20.png);
                }

                .photo-2 {
                    background-image: url(assets/Rectangle\ 21.png);
                }

                .photo-3 {
                    background-image: url(assets/Rectangle\ 22.png);
                }

                .card-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 76px;
                    width: 100%;

                    .card-text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        h5 {
                            font-size: 28px;
                            font-weight: 600;
                        }

                        p {
                            font-size: 20px;
                            color: #7F7F7F;
                        }
                    }

                    i {
                        font-size: 30px;
                        color: #7F7F7F;
                    }
                }
            }
        }
    }
}

.sale-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
    background: linear-gradient(to top, #f5d94e, #ffec63);

    .sale-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;

        .sale-cta-image {
            display: flex;
            align-items: center;
            width: 45%;
            height: 1000px;
            background: url(assets/image\ 12.png);
            background-position: center;
            background-size: cover;
        }

        .sale-cta-info {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 695px;
            height: 690px;
            gap: 25px;

            .bold-payday {
                width: auto;
                font-size: 110px;
                font-weight: 900;
                padding: 0px 20px;
                text-transform: uppercase;
                background-color: #fff;
            }

            .info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                width: 100%;
                padding-left: 20px;

                h2 {
                    width: 100%;
                    height: auto;
                    font-size: 110px;
                    font-weight: 900;
                    line-height: 25px;
                    text-transform: uppercase;
                }

                p {
                    margin-top: 50px;
                    font-size: 35px;
                    font-weight: 500;
                }

                .terms {
                    .date {
                        font-weight: 700;
                    }
                    
                    span {
                        font-size: 35px;
                    }
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 260px;
                    height: 92.5px;
                    background-color: #000;
                    border-radius: 10px;
                    font-size: 28px;
                    font-weight: 500;
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }

        }
    }
}

.young-favorites {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1050px;

    .yf-container {
        display: flex;
        flex-direction: column;
        gap: 100px;
        width: 100%;
        height: auto;
        margin-top: 100px;

        h2 {
            width: 100%;
            height: fit-content;
            font-size: 48px;
            font-weight: 900;
            letter-spacing: 3px;
        }

        .yf-card-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: auto;

            .yf-card {
                display: flex;
                flex-direction: column;
                gap: 25px;
                width: 780px;
                height: auto;

                .yf-card-image {
                    display: flex;
                    width: 780px;
                    height: 540px;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 20px;
                }

                .yf-image1 {
                    background-image: url(assets/Rectangle\ 50.png);
                }

                .yf-image2 {
                    background-image: url(assets/Rectangle\ 49.png);
                }

                .yf-card-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: auto;

                    h5 {
                        font-size: 30px;
                        font-weight: 500;
                        letter-spacing: -1px;
                    }

                    p {
                        font-size: 22px;
                        font-weight: 500;
                        letter-spacing: -1px;
                        color: #7F7F7F;
                    }

                    i {
                        font-size: 35px;
                        color: #7F7F7F;
                    }
                }
            }
        }
    }
}

.download-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1100px;

    .download-cta-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 710px;

        .d-cta-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 507px;
            height: 382px;
            margin-left: 100px;

            h2 {
                width: 507px;
                height: auto;
                font-size: 48px;
                letter-spacing: 2px;
                font-weight: 900;
                text-transform: uppercase;
            }

            p {
                font-size: 24px;
                letter-spacing: -1px;
                color: #7F7F7F;
            }
        }

        .d-cta-image {
            width: 50%;
            height: 900px;
            background-image: url(assets/Mobile\ app.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.email-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 623px;
    width: 100%;
    background-color: #E5C643;

    .email-cta-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #fff;
        gap: 5px;

        h2 {
            width: 925px;
            font-size: 55px;
            font-weight: 800;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        p {
            font-size: 32px;
            font-weight: 300;
        }

        form {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 25px;

            .input-field {
                display: flex;
                position: relative;
                width: 574px;
                height: 80px;
                outline: none;
                border: none;
                border-radius: 10px;
                padding: 20px;
                font-size: 24px;
            }

            .input-field::placeholder {
                color: #767676;
            }

            .submit-button {
                position: absolute;
                justify-self: flex-end;
                width: 161px;
                height: 67px;
                border-radius: 8px;
                background-color: #000;
                color: #fff;
                font-size: 30px;
                font-weight: 400;
                border: none;
                margin-right: 10px;
            }

            .submit-button:hover {
                cursor: pointer;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: #000;

    .footer-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 280px;

        .footer-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 425px;
            height: 249px;

            h3 {
                color: #fff;
                text-transform: uppercase;
                font-size: 40px;
                font-weight: 800;
                letter-spacing: 1px;
            }
            
            p {
                color: #8E8E8E;
                font-size: 24px;
                font-weight: 400;
            }

            .socials {
                display: flex;
                width: 250px;
                height: auto;
                gap: 15px;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 52px;
                    height: 52px;
                    padding: 5px;
                    background-color: #EBD96B;
                    border-radius: 15px;
                    text-decoration: none;

                    i {
                        color: #000;
                        font-size: 25px;
                    }
                }
            }
        }

        .footer-links {
            display: flex;
            justify-content: space-between;
            width: 900px;
            height: 275px;

            .links {
                display: flex;
                flex-direction: column;
                height: auto;
                gap: 25px;
                font-size: 24px;

                .link-categorie {
                    color: #D9D9D9;
                }

                a {
                    color: #8E8E8E;
                    text-decoration: none;
                }
            }
        }
    }
}